*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Imagenes/prueba2.jpg);
}

nav{
    padding: 0 !important;
    display: flex;
    flex-wrap: nowrap !important;
}

.barra{
    background-color:rgba(6, 26, 56, 0.781);
}
.barra img{
    margin-left: 5%;
    width: 100px;
}

.imagenes_barra{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10%;
}

.imagenes_barra img{
    width: 30px;
    margin-left: 20%;
    cursor: pointer;
}

.formulario{
    background-image: url(../Imagenes/prueba2.jpg);
    color: whitesmoke;
    padding: 4%;
    text-align: center;
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    border-radius: 50px;
}

.botones{
    gap: 10%;
}